@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
}

.container {
  max-width: 1245px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-image: url(../../imges/image20.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-bottom: 270px;
  height: 100vh;
  width: 100%;
}

nav {
  background-image: url(../../imges/Rectangle66.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

input {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 19px 0;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 46px;
}
.nav .item__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18.1289px;
  line-height: 129.19%;
  text-align: center;
  color: #fff;
  opacity: 0.5;
}
.nav .item__link:hover {
  color: #fff;
  opacity: 1;
}
.nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18.1289px;
  line-height: 129.19%;
  text-align: right;
  color: #fff;
}
.nav__burger {
  display: none;
}
.nav .btn__neopen {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    background-image: url(../../imges/mobelniybcrounf=d.png);
    background-repeat: no-repeat;
    padding: 0;
  }
  nav {
    background-image: url(../../imges/headermobeli.png);
    background-repeat: no-repeat;
  }
  .nav__list {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(31, 37, 28);
    top: 0px;
    left: 0;
    padding: 20px;
    transform: translateY(-120%);
    transition: 0.6s ease;
  }
  .nav__list li {
    margin-bottom: 20px;
  }
  .nav__link {
    display: none;
  }
  .nav__burger {
    display: block;
  }
  .nav .btn__neopen {
    position: absolute;
    top: 50px;
    left: 50px;
    display: block;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  .input:checked ~ .nav .nav__list {
    transform: translateY(0);
  }
  .input:checked ~ .nav__list .btn__neopen {
    display: none;
  }
}
.hero {
  position: relative;
}
.hero__title {
  max-width: 1071px;
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 45.3221px;
  line-height: 129.19%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 160px;
  padding-bottom: 33px;
}
.hero__btn {
  padding: 17px 30px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18.1289px;
  line-height: 22px;
  text-align: center;
  color: #000;
}
.hero__btn:hover {
  background: transparent;
  color: #fff;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 2s ease;
}
.hero .bnt {
  text-align: center;
}
.hero__btn1 {
  padding: 17px 30px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18.1289px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18.1289px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin-left: 28px;
}
.hero__btn1:hover {
  transform: rotate(360deg);
  transition: all 2s ease;
  background: #fff;
  color: #000;
}
.hero__chat {
  position: absolute;
  bottom: -100px;
  right: 60px;
  width: 83px;
}
.hero iframe {
  max-width: 450px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  left: -80px;
  bottom: -250px;
}

@media screen and (max-width: 576px) {
  header {
    padding-bottom: 0px;
  }
  .hero {
    position: relative;
  }
  .hero__title {
    max-width: 1071px;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 25.3221px;
    line-height: 129.19%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 160px;
  }
  .hero__btn {
    padding: 13px 11px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 13.1289px;
    line-height: 22px;
    text-align: center;
    color: #000;
  }
  .hero__btn:hover {
    background: transparent;
    color: #fff;
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 2s ease;
  }
  .hero .bnt {
    text-align: center;
  }
  .hero__btn1 {
    padding: 13px 11px;
    display: none;
  }
  .hero__btn1:hover {
    transform: rotate(360deg);
    transition: all 2s ease;
    background: #fff;
    color: #000;
  }
  .hero__chat {
    position: absolute;
    bottom: -100px;
    right: 60px;
    width: 43px;
  }
  .hero iframe {
    display: none;
  }
}
.setion-site {
  background-color: #312e2e;
  position: relative;
  height: 100vh;
}

.setion {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: 1;
  height: 100vh;
}

.hero-site {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 100px;
  position: absolute;
  top: 0;
}
.hero-site__mato1 {
  display: none;
}
.hero-site__left {
  background: rgba(17, 16, 16, 0.5);
  padding: 40px 50px;
  border-radius: 25px;
}
.hero-site__left--title {
  max-width: 600px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #fff;
  padding-bottom: 32px;
}
.hero-site__left .site-p {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}
.hero-site__left--leni {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #00BF63;
  margin-right: 32px;
}
.hero-site__left--text1 {
  max-width: 520px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.hero-site__left--btn {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: none;
  margin-left: 20px;
  font-style: normal;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 157.4%;
  text-align: center;
  color: #FFFFFF;
}
.hero-site__left--btn:hover {
  transform: rotate(360deg);
  transition: all 2s ease;
  background: transparent;
  color: #fff;
  border-radius: 20px;
}
.hero-site__left--btn1 {
  padding: 14px 20px;
  border: none;
  background: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 157.4%;
  text-align: center;
  color: #FFFFFF;
}
.hero-site__left--btn1:hover {
  transform: rotate(360deg);
  transition: all 2s ease;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .hero-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    position: absolute;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }
  .hero-site__left {
    background: transparent;
    padding: 0;
    border-radius: 25px;
  }
  .hero-site__left--title {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding-bottom: 32px;
  }
  .hero-site__left .site-p {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
  }
  .hero-site__left--leni {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #00BF63;
    margin-right: 32px;
  }
  .hero-site__left--text1 {
    max-width: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
  .hero-site__left--btn {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: none;
    margin-left: 20px;
    font-style: normal;
    padding: 14px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 157.4%;
    text-align: center;
    color: #FFFFFF;
  }
  .hero-site__left--btn:hover {
    transform: rotate(360deg);
    transition: all 2s ease;
    background: transparent;
    color: #fff;
    border-radius: 20px;
  }
  .hero-site__left--btn1 {
    display: none;
  }
  .hero-site__mato {
    display: none;
  }
  .hero-site__mato1 {
    display: block;
  }
}
.section2 {
  position: relative;
  width: 100%;
  background-image: url(../../imges/section2becground.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgb(0, 0, 0);
}

.hero12 {
  padding-bottom: 100px;
}
.hero12__title {
  padding-top: 50px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 129.19%;
  text-align: center;
  color: #FFFFFF;
}
.hero12__1 {
  background-color: rgba(4, 4, 4, 0.3);
  border-radius: 20px;
  padding: 20px 0;
}
.hero12__1--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hero12__1-list--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero12 .text11 {
  max-width: 290px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 157.4%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  .section2 {
    width: 100%;
    background-image: url(../../imges/mobayil.png);
    background-repeat: no-repeat;
    background-color: rgba(45, 36, 36, 0);
  }
  .hero12 {
    padding-bottom: 0;
  }
  .hero12__title {
    padding-bottom: 5px;
    max-width: 341px;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
  }
  .hero12__1 {
    padding: 0;
    background-color: rgba(4, 4, 4, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero12__1--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .hero12__1-list--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .hero12 .text11 {
    max-width: 290px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 157.4%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 10px;
  }
}
.sectioon3 {
  background-image: url(../../imges/5-blok-bgraund.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.section3 {
  background-color: rgba(4, 4, 4, 0.5);
  height: 100vh;
}

.select-site__title {
  padding-top: 69px;
  padding-bottom: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 129.19%;
  text-align: center;
  color: #FFFFFF;
}
.select-site select {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #E9BC47;
  outline: none;
  background: transparent;
  border: none;
}
.select-site__s1 {
  background-color: rgba(34, 33, 33, 0.3);
  border-radius: 20px;
  padding: 20px 0;
}
.select-site__text {
  padding-bottom: 41px;
  text-align: center;
  padding-top: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.select-site__s2 {
  background-color: rgba(34, 33, 33, 0.4);
  border-radius: 20px;
  margin-bottom: 140px;
}
.select-site .slelt {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
  padding-bottom: 40px;
  background-color: rgba(34, 33, 33, 0.01);
  border-radius: 10px;
}
.select-site .slect1 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
  background-color: rgba(34, 33, 33, 0.01);
  border-radius: 10px;
  padding-bottom: 40px;
}
.select-site .slect2 {
  background-color: rgba(34, 33, 33, 0.01);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.nashin1 {
  background-image: url(../../imges/disctop.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 111px;
  background-size: 100%;
}

.nashi {
  padding-top: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nashi__title {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #FFFFFF;
  text-align: center;
}
.nashi__list--item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.4;
  padding-top: 15px;
}

.nashi1 {
  padding-top: 82px;
}
.nashi1__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nashi1__list--item a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.4;
  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  .sectioon3 {
    background-image: url(../../imges/bobelibgcolor.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .section3 {
    background-color: rgba(4, 4, 4, 0.4);
  }
  .select-site__title {
    padding-top: 69px;
    padding-bottom: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 129.19%;
    text-align: center;
    color: #FFFFFF;
  }
  .select-site select {
    max-width: 500px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 31px;
    color: #E9BC47;
    outline: none;
    background: transparent;
    border: none;
  }
  .select-site__s1 {
    border-radius: 20px;
    padding: 20px 0;
  }
  .select-site__text {
    padding-bottom: 41px;
    text-align: center;
    padding-top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .select-site .slelt {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-bottom: 40px;
    background-color: rgba(34, 33, 33, 0.01);
    border-radius: 10px;
  }
  .select-site .slect1 {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 31px;
    color: #FFFFFF;
    background-color: rgba(34, 33, 33, 0.01);
    border-radius: 10px;
    padding-bottom: 40px;
  }
  .select-site .slect2 {
    background-color: rgba(34, 33, 33, 0.01);
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 31px;
    color: #FFFFFF;
    padding-bottom: 40px;
  }
  .nashin1 {
    background-image: url(../../imges/footerdaoldingimobylbg.png);
    background-repeat: no-repeat;
    position: relative;
    bottom: 50px;
  }
  .nashi {
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nashi__title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 54px;
    color: #FFFFFF;
    text-align: center;
  }
  .nashi__logo {
    display: none;
  }
  .nashi__list--item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
    padding-top: 15px;
  }
  .nashi .nashi__list--item {
    max-width: 250px;
  }
  .nashi1 {
    padding-top: 50px;
  }
  .nashi1__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .nashi1__list--item a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.4;
    color: #FFFFFF;
  }
}
footer {
  position: relative;
  top: 300px;
  background-color: #000;
}

.footer {
  padding-top: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__list {
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 47px;
}
.footer__list--item a {
  font-weight: 600;
  font-size: 18.1289px;
  line-height: 129.19%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__logo {
  padding-bottom: 47px;
}

.foter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.foter .foter__list {
  padding-bottom: 52px;
  gap: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.foter__list--item-a a {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.4;
}
.foter .ul-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.foter .ul-list__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 30px;
  opacity: 0.4;
}

@media screen and (max-width: 576px) {
  footer {
    bottom: 350px;
  }
  .footer__list {
    display: none;
  }
  .foter {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
  }
  .foter .foter__list {
    padding-bottom: 52px;
    gap: 19px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
  }
  .foter .foter__list--item-a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
  }
  .foter .ul-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    padding-bottom: 33px;
  }
  .foter .ul-list__item {
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 30px;
    opacity: 0.4;
  }
}/*# sourceMappingURL=main.css.map */