@import './all-blockss/fonts';
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.container {
    max-width: 1245px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@import './veraybels.scss';
@import './all-blockss/all-block';